html, body
{
	height: 100%;
	width: 100%;
}

body
{
	//text-align: center;
}

div
{
	text-align: center;
}

#submitCell
{
	text-align: center;
}

table
{
	margin: 1px auto;
	border: 1px solid black;
	border-collapse: collapse;
}

td
{
	margin: 1px auto;
	border: 1px solid black;
}